<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add dress</title>
    <link rel="stylesheet" href="/css/styleAdd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="screen">
          <div class="screen__content">
            <form class="login" action="/create" method="post">
        <h1>DREAM DRESS FORM</h1>

              <div class="login__field">
                <i class="fa-solid fa-person-dress"></i>
                <input type="text" class="login__input" name="name" placeholder="New Dress">
              </div>
              <div class="login__field">
                <i class="fa-brands fa-algolia" ></i>
                <input type="text" class="login__input"name="type" placeholder="New Type">
              </div>
              <div class="login__field">
                <i class="fa-solid fa-heart"></i>
                <input type="text" class="login__input"name="complimentary" placeholder="Complimentary">
              </div>
              <button class="button login__submit">
                <span class="button__text">CLAIM YOUR DRESS</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>
            </form>
          </div>

          <div class="screen__background">
            <span class="screen_background_shape screen_background_shape4"></span>
            <span class="screen_background_shape screen_background_shape3"></span>
            <span class="screen_background_shape screen_background_shape2"></span>
            <span class="screen_background_shape screen_background_shape1"></span>
          </div>
        </div>
      </div>
    </body>

</html>